<div [ngClass]="{'loading': loading}">
    <div *ngIf="showMessage" #alert class="alert mx-4 shadow alert-success fixed-bottom alert-dismissible fade show" role="alert">
      <button type="button" class="close cursor-pointer" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
      </button>
      Data berhasil diperbarui !
    </div>
    
    <form #formData='ngForm' (ngSubmit)="tambah()">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <div class="row m-0 align-items-center">
          <h1 class="h2">Data Events</h1>
          <ng-container *ngIf="idData != null">
            <div class="mx-4">
              <button type="button" class="btn btn-sm btn-danger cursor-pointer" (click)="collapse.toggle()" (click)="delete()" [disabled]="loading" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Hapus
              </button>  
            </div>  
          </ng-container>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <ng-container *ngIf="isCollapsed">
            <button type="button" class="btn btn-sm btn-outline-secondary cursor-pointer" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              Tambah data
            </button>
          </ng-container>
          <ng-container *ngIf="!isCollapsed">
            <div class="row">
              <div class="mx-2">
                <button type="button" class="btn btn-sm btn-outline-danger cursor-pointer" (click)="cleanData()" (click)="collapse.toggle()"  [disabled]="loading" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                  Batal
                </button>  
              </div>
              <div class="mx-2">
                <button type="submit" class="btn btn-sm btn-primary cursor-pointer" [disabled]="!formData.valid" (click)="tambah()" (click)="collapse.toggle()">
                  Simpan
                </button>  
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="container px-4">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header text-center">
                  <h4>Tambahkan data baru</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-4">
                      <div class="text-center cursor-pointer" (click)="fileUpload.click()">
                        <img [src]="imgSrc" class="d-block mb-4 mx-auto img-fluid" alt="" width="150" loading="lazy" >
                        <div class="form-group">
                          <input #fileUpload type="file" accept="image/*" class="form-control-file" id="image" size="20" (change)="getImage($event)" required hidden [disabled]="loading">
                          <small id="fileHelp" class="form-text text-muted">
                              (click) gambar untuk merubah foto.
                          </small>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nama Tarian</label>
                            <input type="text" class="form-control"  name="name" id="name" placeholder="Masukkan nama tarian" [(ngModel)]="dataForm.tarian" required>
                        </div>
                      
                        <div class="mb-3">
                          <label for="acara" class="form-label">Acara</label>
                          <input type="text" class="form-control" name="acara"  id="acara" placeholder="Masukkan acara" [(ngModel)]="dataForm.acara" required>
                        </div>

                        <div class="mb-3">
                            <label for="acara" class="form-label">Tanggal</label>
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" [(ngModel)]="dataForm.tanggal" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                        </div>

                        
            
                        <div class="mb-3">
                            <label for="desc" class="form-label">Deskripsi</label>
                            <textarea class="form-control" placeholder="Berikan deskripsi acara" rows="5" [(ngModel)]="dataForm.description" name="description" [disabled]="loading" style="height: auto;" required></textarea>
                        </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  
    <div *ngIf="loadData || loading" class="text-center m-4" [ngClass]="{'loading': !isCollapsed}">
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  
    <div *ngIf="isEmpty && !loadData" class="text-center m-4" [ngClass]="{'loading': !isCollapsed}">
      <h4>Data kosong !</h4>
    </div>

    <div *ngIf="!isEmpty" class="row my-5" [ngClass]="{'loading': !isCollapsed}">
        <div class="col-md-3 col-sm-6" *ngFor="let dt of listData">
            <div class="card m-2 cursor-pointer card-event"  (click)="isCollapsed ? detail(dt.payload.doc.data(), dt.payload.doc.id) : null" (click)="isCollapsed ? collapse.toggle() : null">
                <img class="card-img-top" [src]="dt.payload.doc.data().image_url" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{ dt.payload.doc.data().name }}</h5>
                  <p class="card-text">{{ dt.payload.doc.data().description }}.</p>
                </div>
            </div>
        </div>
    </div>
  </div>