  <div [ngClass]="{'loading': loading}">
    <div *ngIf="showMessage" #alert class="alert mx-4 shadow alert-success fixed-bottom alert-dismissible fade show" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
      </button>
      Data berhasil diperbarui !
    </div>
    
    <form #formData='ngForm' (ngSubmit)="tambah()">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <div class="row m-0 align-items-center">
          <h1 class="h2">Pengajar</h1>
          <ng-container *ngIf="idPengajar != null">
            <div class="mx-4">
              <button type="button" class="btn btn-sm btn-danger" (click)="collapse.toggle()" (click)="delete()" [disabled]="loading" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Hapus
              </button>  
            </div>  
          </ng-container>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <ng-container *ngIf="isCollapsed">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              Tambah data
            </button>
          </ng-container>
          <ng-container *ngIf="!isCollapsed">
            <div class="row">
              <div class="mx-2">
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="cleanData()" (click)="collapse.toggle()"  [disabled]="loading" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                  Batal
                </button>  
              </div>
              <div class="mx-2">
                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!formData.valid" (click)="tambah()" (click)="collapse.toggle()">
                  Simpan
                </button>  
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="container px-4">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header text-center">
                  <h4>Tambahkan data baru</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-4">
                      <div class="text-center cursor-pointer" (click)="fileUpload.click()">
                        <img [src]="imgSrc" class="d-block mb-4 mx-auto img-fluid" alt="" width="150" loading="lazy" >
                        <div class="form-group">
                          <input #fileUpload type="file" accept="image/*" class="form-control-file" id="image" size="20" (change)="getImage($event)" required hidden [disabled]="loading">
                          <small id="fileHelp" class="form-text text-muted">
                              (click) gambar untuk merubah foto pengajar.
                          </small>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-md-8">
                      <div class="mb-3">
                        <label for="name" class="form-label">Nama</label>
                        <input type="text" class="form-control"  name="name" id="name" placeholder="Masukkan nama pengajar" [(ngModel)]="dataForm.name" required>
                      </div>

                      <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email"  id="email" placeholder="Email pengajar" [(ngModel)]="dataForm.email" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="phone" class="form-label">Telepon</label>
                            <input type="tel" class="form-control" name="phone" id="phone" aria-describedby="phoneHelp" placeholder="Nomor telepon pengguna" [(ngModel)]="dataForm.telepon" required>
                        </div>

                        <div class="mb-3">
                            <label for="alamat" class="form-label">Alamat</label>
                            <input type="text" class="form-control"  name="alamat" id="alamat" placeholder="Masukkan alamat pengajar" [(ngModel)]="dataForm.alamat" required>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  
    <div *ngIf="loadData || loading" class="text-center m-4" [ngClass]="{'loading': !isCollapsed}">
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  
    <div *ngIf="isEmpty && !loadData" class="text-center m-4" [ngClass]="{'loading': !isCollapsed}">
      <h4>Data kosong !</h4>
    </div>
    
    <div *ngIf="!isEmpty" class="table-responsive" [ngClass]="{'loading': !isCollapsed}">
      <table class="table table-hover my-5 table-sm">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Telepon</th>
            <th scope="col">Alamat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listData; let idx=index" class="cursor-pointer" (click)="isCollapsed ? detail(data.payload.doc.data(), data.payload.doc.id) : null" (click)="isCollapsed ? collapse.toggle() : null">
            <td style="width:  2.33%">{{ idx + 1 }}</td>
            <td class="w-7">
                <img [src]="data.payload.doc.data().image_url" class="img-fluid img-thumbnail">
            </td>
            <td>{{ data.payload.doc.data().name }}</td>
            <td>{{ data.payload.doc.data().email }}</td>
            <td>{{ data.payload.doc.data().telepon }}</td>
            <td>{{ data.payload.doc.data().alamat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>